.header {
  margin-bottom: 60px;

  @media screen and (min-width: $tablet) {
    margin-bottom: 77px;
  }

  @media screen and (min-width: $desktop) {
    margin-bottom: 97px;
  }
}

.container-header {
  display: flex;
  align-items: center;
  padding-top: 20px;

  @media screen and (max-width: $to-tablet) {
    justify-content: space-between;
  }

  @media screen and (min-width: $tablet) {
    position: relative;
    align-items: flex-end;
  }
}

.logo {
  position: relative;
  font-family: 'Poppins';
  font-size: 22px;
  line-height: 1.09;
  text-transform: uppercase;
  color: $textColorAccent;
  padding-top: 10px;
  outline: none;

  @media screen and (min-width: $tablet) {
    font-size: 28px;
    line-height: 0.86;
    padding-top: 0;
    margin-right: 190px;
  }

  @media screen and (min-width: $tablet) {
    margin-right: 43px;
  }
}

.logo__img {
  position: absolute;
  z-index: -1;
  top: -6px;
  left: 81px;
  height: 26px;
  width: 30px;

  @media screen and (min-width: $tablet) {
    top: -22px;
    left: 104px;
    height: 33px;
    width: 38px;
  }
}

.header__nav {
  display: none;

  @media screen and (min-width: $desktop) {
    display: flex;
    margin-right: 251px;
  }
}

.header__nav-list {
  @media screen and (min-width: $desktop) {
    font-family: 'Poppins';
    font-size: 18px;
    line-height: 1.33;
    display: flex;
    gap: 60px;
  }
}

.header__nav-item {
  position: relative;

  &:hover .header__box-favorite {
    display: block;
  }
  & .header__favorite-icon {
    display: none;
  }
}

.header__nav-link:hover,
.header__nav-link:focus {
  color: $textColorAccent;
  outline: none;

  & .header__favorite-icon {
    fill: $textColorAccent;
  }
}

.header__box-favorite {
  display: none;
  position: absolute;
  top: 25px;
  width: 210px;
  height: 96px;
  border: 1px solid $accentColor;
  border-radius: 4px;
  overflow: hidden;
}

.header__favorite-link {
  color: inherit;
  padding: 12px 0 12px 12px;
  display: block;

  &:hover,
  &:focus {
    color: $textBtn;
    background-color: $accentColor;
  }
}

//search

.header__form {
  display: none;

  @media screen and (min-width: $tablet) {
    display: flex;
    margin-right: 40px;
  }

  @media screen and (min-width: $desktop) {
    margin-right: auto;
  }
}

.header__search {
  width: 248px;
  height: 40px;
  color: inherit;
  border: 1px solid $accentColor;
  border-radius: 0 4px 4px 0;
  border-left: none;
  background-color: transparent;
  font-family: 'Poppins';
  font-size: 14px;
  line-height: 1.71;
  padding: 8px;
  outline: none;

  &::placeholder {
    color: $textClGrayForLight;
  }
}

.searchButton {
  height: 40px;
  width: 40px;
  border: 1px solid $accentColor;
  border-radius: 4px 0 0 4px;
  background: transparent;
  outline: none;
  font-size: 20px;
  text-align: center;
  color: $textBtn;
  cursor: pointer;

  &:hover .searchButton__icon,
  &:focus .searchButton__icon {
    width: 28px;
    height: 28px;
    fill: $hoverColor;
  }
}

.searchButton__icon {
  fill: $accentColor;
}

.burger-btn {
  &:hover {
    fill: $hoverColor;
  }

  @media screen and (min-width: $tablet) {
    position: absolute;
    right: 20px;
    top: 25px;
  }

  @media screen and (min-width: $desktop) {
    display: none;
  }
}

//toggle

.header__toggle-box {
  display: none;

  @media screen and (min-width: $desktop) {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 8px;
    margin-right: 0;
  }
}

input[type='checkbox'] {
  display: none;
}

.header__toggle {
  position: relative;
  width: 40px;
  height: 20px;

  background-color: $bgLight;
  border: 0.604701px solid $accentColor;
  border-radius: 20px;
  display: block;
  cursor: pointer;
  transition: 300ms;

  &:after {
    content: '';
    position: absolute;
    top: 1px;
    left: 1px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: $accentColor;
    transition: 300ms;
  }
}

input:checked ~ .header__toggle {
  background-color: $accentColor;
  border-color: $bgLight;
  transition: 300ms;
}

input:checked ~ .header__toggle:after {
  left: calc(100% - 1px);
  transform: translateX(-100%);
  background-color: $bgLight;
}

.header__toggle-light,
.header__toggle-dark {
  font-family: 'Poppins';
  font-size: 18px;
  line-height: 24px;
}

.header__toggle-light {
  color: var(--switcher-light-color);
}

.header__toggle-dark {
  color: var(--switcher-dark-color);
}
